@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Add your global styles here */
  body {
    font-family: "--font-jetbrainsMono";
    background-color: rgb(21, 21, 31);
    color: white;
  }
}
